<div class="row">
     <div id="map" class="col-md-12"></div>
</div> 
<script type="text/javascript">
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 33.7677129, lng: -84.4206039},
          zoom: 10
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZr8j8zX9gc1s7v0GfBYQZHEzz95_xAng&callback=initMap">
    </script>