<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


<div id="editcustomer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Customer</h4>
                </div>
                <div class="modal-body">
                    <p class="text-warning"><strong>** IF YOU DO NOT SAVE ALL CHANGES WILL BE LOST **</strong></p>

                    <h1>Editing customer</h1>

<%= render 'form' %>

<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
</div>
                </div>

            </div>
        </div>
    </div>